<%-include("./layouts/header") %>
    <div class="container-scroller">
        <%-include("./layouts/menu") %>

            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">

                        <div class="col-md-12 stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title">Recent Purchases</p>
                                    <div class="table-responsive">

                                        <table id="recent-purchases-listing" class="table text-center">

                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Status</th>
                                                    <th>Process</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% for(var i=0 ; i < table3.length ; i++){ if (table3[i].active==0) { %>
                                                    <tr>
                                                        <td>
                                                            <%= table3[i].fullName %>
                                                        </td>
                                                        <td>
                                                            <%= table3[i].email %>
                                                        </td>
                                                        <td>
                                                            <%= table3[i].status %>
                                                        </td>
                                                        <td> <a href="/admin/update-requests/<%=table3[i].id %>"><button class="btn btn-success">Accept</button></a> </td>
                                                    </tr>
                                                    <% } } %>
                                            </tbody>

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- main-panel ends -->
                </div>
                <!-- page-body-wrapper ends -->
            </div>
            <%-include("./layouts/footer") %>