<%-include("./layouts/header") %>
<div class="container-scroller">
    <%-include("./layouts/menu") %>

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="d-flex justify-content-between flex-wrap">
                            <div class="d-flex align-items-end flex-wrap">
                                <div class="mr-md-3 mr-xl-5">
                                    <h2>Members</h2>
                                    <p class="mb-md-0" style="color:brown"> <b>You can see the members here</b> </p>
                                </div>
                            </div>
                            
                            <!-- <div class="d-flex justify-content-between align-items-end flex-wrap">
                                <button type="button"
                                    class="btn btn-light bg-white btn-icon mr-3 d-none d-md-block ">
                                    <i class="mdi mdi-download text-muted"></i>
                                </button>
                                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                                    <i class="mdi mdi-clock-outline text-muted"></i>
                                </button>
                                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                                    <i class="mdi mdi-plus text-muted"></i>
                                </button>
                                <button class="btn btn-primary mt-2 mt-xl-0">Download report</button>
                            </div> -->

                        </div>
                    </div>
                </div>

                <div class="row">
                        <div class="col-md-12 stretch-card">
                          <div class="card">
                            <div class="card-body">
                              <p class="card-title">Recent Purchases</p>
                              <div class="table-responsive">

                                <table id="recent-purchases-listing" class="table text-center">

                                  <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Status report</th>
                                        <th>Active</th>
                                        <th>Process</th>
                                    </tr>
                                  </thead>

                                  <tbody>
                                    <% for(var i =0 ; i < workers.length ; i++){ %>
                                    <tr>
                                        <td><%= workers[i].fullName %></td>
                                        <td><%= workers[i].status %></td>
                                        <td><%= workers[i].price %></td>
                                        <td>
                                            <button class="btn btn-outline-danger btn-sm">Delete</button>
                                            <button class="btn btn-outline-success btn-sm">Update</button>
                                        </td>
                                    </tr>
                                    <% } %>
                                  </tbody>
                                  
                                </table>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                </div>

            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->

        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<%-include("./layouts/footer") %>
